<h4>Learn English App</h4>

<div>
    <button (click)="switch()">{{ display }}</button>
</div>
<hr>
<div>
    <button (click)="didGuess(true)">Yes, I do :)</button>
    <button (click)="didGuess(false)">No, I don't :(</button>
</div>
<hr>
<div>
    <button (click)="learnNewRandom()">Add from resources</button>
</div>
<hr>
<div>
    <form #vocabForm="ngForm">
        <input required #polish="ngModel" ngModel type="text" name="Polish" placeholder="Polish">
        <input required #english="ngModel" ngModel type="text" name="English" placeholder="English">
        <hr>
        <button (click)="submitPrint(vocabForm, polish, english)">--- Submit ---</button>
    </form>
    <!-- <div>
        {{ vocabForm.value | json }}
    </div>
    <div>
        {{ polish.value }}
    </div>
    <div>
        {{ english.value}}
    </div> -->
</div>
