<h4>Learn English App</h4>

<h4 (click)="switch()" class="display">{{ display }}</h4>
<hr>
<div>
    <button class="yes" (click)="didGuess(true)">Yes :)</button>
    <button class="no" (click)="didGuess(false)">No :(</button>
</div>
<hr>
<div>
    <button (click)="learnNewRandom()">Add from resources</button>
</div>
<hr>
<div>
    <form #vocabForm="ngForm"
          (ngSubmit)="submit(vocabForm, $event)"  
    >
        <input required #polish="ngModel" ngModel type="text" name="Polish" placeholder="Polish">
        <input required #english="ngModel" ngModel type="text" name="English" placeholder="English">
        <!-- <div *ngIf="!(polish.errors==null && english.errors==null)" class="red">Both fields are required</div> -->
       
        <!-- <button (click)="submitPrint(vocabForm, polish, english)">--- Submit ---</button> -->
        <input #start="ngModel" ngModel type="checkbox" checked="checked" id="start" name="start" value="start">
        <label for="start">Start now</label><br>
        <hr>    
        <button [disabled]="!vocabForm.valid" type="submit">Submit</button>
    </form>
    <!-- <div>
        {{ vocabForm.value | json }}
    </div>
    <div>
        {{ polish.value }}
    </div>
    <div>
        {{ english.value}}
    </div> -->
    <!-- <div>
        {{ polish.errors | json }}
    </div> -->
</div>
<hr>
<div>
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload()">Upload</button>
</div>
<div>Progress: {{progress}}%</div>